* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62, 5%;
  font-family: "Jersey 10", sans-serif;
}
header{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.title-ball {
  width: 70px;
  height: 70px;
  position: relative;
  top: 10px;
  z-index: 1;
}
.title-name {
  width: 40px;
  height: 20px;
  position: absolute;
  left: 210px;
  top: 28px;
  z-index: 1;
}
.header-ham-span{
  width: 50px;
  height: 50px;
  margin-top: 7px;
}
.header-ham-img{
  width: 50px;
  height: 50px;
}
.header-right-options{
  position: absolute;
  left: 280px;
  top: 60px;
  z-index: 100;
}
.right-options-container{
  width: 100px;
  height: fit-content;
  padding: 5px;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 6px;

  & ul{
    list-style: none;
    line-height: 30px;
  }

}
/*Skills cards*/
.skills-card{
  width: 100%;
  position: absolute;
  z-index: 100;
  margin: 0 auto;
  
  & section{
    display: flex;
    justify-content: center;
  }

}
.skills-card-container{
  width: 300px;
  height: 450px;
  margin: 0 auto;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  & button {
    width: 48px;
    height: 28px;
    padding: 5px;
    margin: 0 auto;
    font-weight: bold;
    color: red; 

  }
}
.skill-container-img{
  margin: 5px 0;
  padding: 35px;
}


.swipe-page {
  width: 100%;
  height: 80vh;
}

.importCard {
  position: relative;
  width: 100%;
  height: 60vh;
}

.cards {
  position: relative;
  width: 100%;
  height: 60vh;
  bottom: 15px;


  & h2 {
    width: 100%;
    height: 100%;
    padding: 16px;
    color: white;
    position: absolute;
    inset: 0;
    display: flex;
    align-items: flex-end;
    z-index: 1;
    background: linear-gradient(to top, #00000088 20%, transparent 60%);
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 5px auto;

    & span {
      margin-left: 4px;
      font-size: 18px;
      font-weight: 400px;
      line-height: 1.5px;
    }
  }
  .cards-articleContainer {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    filter: drop-shadow(2px 4px 6px black);
    border-radius: 8px;
    overflow: hidden;


    & h2 {
      font-family: "Jaro", sans-serif;

    }
  }
  .reset {
    transition: 0.3s ease;
    transform: translateX(0px)
    !important;
  }
  .swipeCompleteLeft {
    transform: translateX(-200%) rotate(-20deg) !important;
  }
  .swipeCompleteRight {
    transform: translateX(200%) rotate(20deg) !important;
  }
  .swipeCompleteRight,
  .swipeCompleteLeft {
    transform: translateX0.3s ease, rotate 0.3s ease;
  }
}

/*Article detail container*/
.details-article {
  width: 100%;
  height: 22vh;
  margin: 0 auto;
  position: absolute;
  background-color: white;
  background-size: cover;

  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  text-align: center;
}

/*Background champions cup image*/

.details-backgroundImg {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 40%;
  object-fit: cover;
  object-position: 100% 0;
}

.details {
  width: 100%;
  height: 22vh;
  position: relative;
  margin: 0 auto;
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;

  & h2 {
    max-height: 46px;
    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    z-index: 0;
    display: inline-table;
  }
  & p {
    font-size: 1.4rem;
    font-weight: 400;
    font-style: normal;
    background: transparent;
    z-index: 100;
    position: relative;
  }
  & .details-icons {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px;
  }

  & .details-redText {
    color: red;
    z-index: 0;

  }


}
footer {
  width: 100%;
  gap: 12px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;

  & button {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid black;
    background: url("./tinder-options.webp") no-repeat;
    background-position: -12px -60px;
    background-size: 300px;
    cursor: pointer;
    transition: 0.3s ease;
    display: flex;
    justify-content: space-around;

    &:hover {
      scale: 1.4;
    }
  }
  button.isBig {
    width: 48px;
    height: 48px;
    background-size: 400px;
    background-position: -20px -85px;
  }
  button.isRemove {
    background-position: -99px -85px;
  }
  button.isStar {
    background-position: -247px -60px;
  }
  button.isLike {
    background-position: -255px -85px;
  }
}
/*New detail container design*/

.article-player-achievements{
  width: 100%;
  height: 22vh;
  display: flex;

  flex-direction: row;
  justify-content: space-around;
  filter: drop-shadow(2px 4px 6px black);


  & span{
    width: 40%;
    height: 130px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow:inset 2px 2px 4px rgba(120, 120, 120, .4), inset -3px -3px 3px rgba(255,255,255,.4);

  }
  & img{
    width: 45%;
    object-fit: cover;
    z-index: 100;
  }
}
/*Aside tournament elements*/
.tournament{
  width: 90%;
  height: 80vh;
  position: absolute;
  bottom: 80px;
  z-index: 1;
  display: none;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 15px;
  background-image: url(./assets/background-cup/champions-cup-shadow.png), url(./assets/background-cup/stars-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300%;
  background-color: white;

}
.tournament-section{
  width: 100%;
  height: 100%;
  border: 3px outset black;
  border-radius: 15px;
  background: transparent;
  z-index: 1;
  object-fit: cover;
  display: flex;

  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  filter: drop-shadow(2px 4px 6px black);

  & h1, h2, li{
    z-index: 1;
    color: white;

  }
  & h1, h2{
    text-align: center;
    margin: 10px auto;
  }
  & h1{
    margin-top: 180px;
    margin-bottom: 20px;
  }
  & h2{
    margin-bottom: 40px;
  }

}
.tournament-section-button{
  width: 48px;
  height: 28px;
  padding: 5px;
  font-weight: bold;
  margin-top: 60px;
  color: red;

}
